# --- Executáveis ---
# Ignora o arquivo final que você roda
pif_game
*.exe
*.out

# --- Objetos e Binários ---
# Ignora arquivos intermediários da compilação (.o) e bibliotecas estáticas (.a)
*.o
*.a
*.so
*.lib
*.dll

# --- Dependências e Bibliotecas ---
# Como você baixou a raylib dentro da pasta include, ignore a pasta toda.
# O ideal é que o repo tenha apenas o SEU código.
# Excluir pastas de bibliotecas e ferramentas
raylib/
emsdk/
bin/
obj/
*.exe
*.o
.vscode/

# --- IDE e Sistema ---
.vscode/
.history/
*.log
.DS_Store